#haiku-container {
    display: flex;
    justify-content: center;
    border: solid black 2px;
    background: linear-gradient(
        lightskyblue,
        rgba(216, 112, 147, 0.634),
        rgba(0, 128, 0, 0.688),
        orange
    );
    padding: 20px;
}

.haiku-likes {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
div.winter {
    background-image: url('../assets/winter.png');
    justify-content: center;
    width: 400px;
    height: 400px;
    border: solid lightskyblue 4px;
    padding: 10px;
}

div.spring {
    background-image: url('../assets/spring.png');
    width: 400px;
    height: 400px;
    border: solid palevioletred 4px;
    padding: 10px;
}

div.summer {
    background-image: url('../assets/summer.png');
    width: 400px;
    height: 400px;
    justify-content: center;
    border: solid green 4px;
    padding: 10px;
}

div.fall {
    background-image: url('../assets/fall.png');
    width: 400px;
    height: 400px;
    border: solid orangered 4px;
    padding: 10px;
}

.poemlines {
    display: flex;
    background: rgba(255, 228, 196, 0.5);
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.ratings {
    background-color: beige;
    opacity: 90%;
    text-align: center;
    justify-content: flex-end;
}
